#resetDiv {
    text-align: center;
}

#buttons {
    text-align: center;
}

#score {
    text-align: center;
}

#reset {
    margin: 10px;
    width: 80vw;
    background-color: black;
    color: rgb(0, 255, 255);
    padding: 3px;
    font-size: 20px;
}